.search-hero {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-items: center;
}

.hero-text-block {
  grid-row: 1;
  align-self: end;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  user-select: none;
}

.hero-text-block h1 {
  font-weight: 600;
  font-size: 3.25em;
  letter-spacing: -4%;
  margin-bottom: 0.75rem;
}

.hero-text-block p {
  font-weight: 600;
  margin: 0;
  color: #5c5c5c;
  font-size: 1.5em;
  line-height: 1.3em;
}

.hero-input-block {
  grid-row: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}
