.logo-container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.logo {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;
  text-decoration: none;
  color: #c2c2c2;

  display: flex;
  flex-direction: row;
}

.logo .symbol {
  width: 3em;
  height: 3em;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(25, 143, 98);
}

.logo .text {
  color: #999;
}

.logo .brasil {
  font-size: 1.85em;
  font-weight: 900;
  color: #fff;
}
